/* Write your CSS code here */
.cryptocurrencies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.heading {
  text-align: center;
  color: #00e7ff;
  font-size: 28px;
  font-weight: bold;
  margin: 4px;
}

@media (min-width: 576px) {
  .heading {
    font-size: 48px;
  }
}

.cryptocurrency-img {
  width: 330px;
}
.usd-and-euro-values-containerEl {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 0px;
  padding-left: 8%;
}
.list-header {
  border-style: solid;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #092e33;
  border-color: #00e7ff;
  border-bottom-style: none;
}
.cryptocurrencies-list {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-style: solid;
  border-color: #00e7ff;
  margin-top: 0px;
  border-top-style: none;
}
